table {
   margin: 0 auto;
 } 

td {
  padding: 0.5em;
  font-family: helvetica, sans-serif;
}

td a {
  text-decoration: none;
}

#outdated-warning {
  margin: 0 auto;
  width: 400px;
  background-color: rgb(255,150,150);
  text-align: center;
  border: 1px black solid;
}

#outdated-warning p {
  margin-left: 2px;
  margin-right: 2px;
}
