body {
  font-family: helvetica, sans-serif;
}
table {
   margin: 0 auto;
   border-collapse: collapse;
 } 

td, th {
  padding: 0.375em 0.5em;
  text-align: left;
}
td {
  border-left: 1px solid #f6f6f6;
}
tr:nth-of-type(odd) td:nth-of-type(n+2) {
  border-left: 1px solid #fff;
}
td:last-of-type {
  border-right: 1px solid #f6f6f6;
}
td:nth-last-of-type(1),
td:nth-last-of-type(2) {
  white-space: nowrap;
}
td:nth-of-type(n+3) {
  font-family: Courier, monospace;
}
td:nth-last-of-type(3),
td:nth-last-of-type(4),
td:nth-last-of-type(5) {
  text-align: right;
}

td a {
  text-decoration: none;
}

#outdated-warning {
  margin: 0 auto 1em auto;
  width: 400px;
  background-color: #c00;
  text-align: center;
  border: 1px solid #000;
  padding: 0.25em 1.25em;
  font-weight: bold;
  color: #fff;
  font-size: 1.25em;
}

tr:nth-of-type(odd) td {
  background-color: #f6f6f6;
}

th {
  background-color: #444;
  color: #ffff;
  border-left: 1px solid #777;
}
th:last-of-type {
  border-right: 1px solid #777;
}
